.tableTitleRed {
	color: #CC0000;
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0
}

.visiteGuidateTable {
	border-collapse: separate;
  border-spacing: 0 4px;
  color: #000000;
	font-family: Candara;
	font-size: 10pt;
  font-weight: bold;
	margin-top: 8px;
	width: 100%;
}

.visiteGuidateDate {
	background-color: #FFFF99;
	text-align: center;
	width: 20%;
}

.visiteGuidateEvent {
	background-color: #FFFF99;
	font-size: 11pt;
	font-style: italic;
	text-align: center;
	width: 80%;
}

.dibattitiEventMainTitle {
    color: #003300;
    font-size: 12pt;
    font-weight: bold;
    font-family: "Arial Black";
    text-transform: uppercase;
}
